body {
    margin: 0
}

.book-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cover-color: #4153b0;
}

#book-content {
    display: none;
}

.book-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book {
    width: 500px;
    height: 600px;
    position: relative;
    perspective: min(300vw, 3000px);
    transform: translateX(0);
    transition: 1s transform ease-in-out;
}

.book .book-controls {
    transform: translateX(0);
    transition: 1s transform ease-in-out;
}

.book.opened {
    transform: translateX(250px);
}

.book.opened.closed {
    transform: translateX(500px);
}

.book.opened.closed .book-controls{
    transform: translateX(-500px);
}


.page-container {
    border: none;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}

.page-container {
    transform-origin: left;
    transform: rotateY(0deg);
    transition: transform 1s ease;
}

.page-container.flipped {
    transform: rotateY(-180deg);
}

.page-container.flipped .page.front {
    z-index: 1;
}

.page-container.flipped .page.back {
    transform: rotateY(180deg);
    z-index: 2;
}

.page-container.first {
    border-top: 10px solid var(--cover-color);
    border-right: 10px solid var(--cover-color);
    border-bottom: 10px solid var(--cover-color);
}

.page-container.last {
    border-top: 10px solid var(--cover-color);
    border-right: 10px solid var(--cover-color);
    border-bottom: 10px solid var(--cover-color);
}

.page-container:not(.first, .last) .page {
    position: absolute;
    left: 0px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
}

.page {
    background-color: white;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    box-sizing: border-box;
}

.book .page:not(.cover) {
    padding: 10px 25px 10px 25px;
    border: 1px solid black;
}

.book.closed .page {
    border: none;
}

.page.front {
    z-index: 2;
}

.page.back {
    transform: rotateY(180deg);
    z-index: 1;
}

.page.front,
.page.back {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.book .page.front.cover h3 {
    visibility: hidden;
    backface-visibility: hidden;
    font-size: 50px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    text-shadow: 3px 1.5px 0 hsla(0deg, 0%, 0%, 0.25);
    color: #ffcc00;
}

.book .page.front.cover,
.book .page.back.cover {
    background-color: var(--cover-color);
}

.page p {
    text-indent: 1.25em;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 0;
}

.page-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    max-height: 20px;
    padding: 10px 25px 10px 25px;
    margin-top: auto;
}

.page {
    display: flex;
    flex-direction: column;
}

.book .book-img-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
    overflow: clip
}

.book .book-img-container .book-img {
    overflow: hidden;
    margin: 0;
    height: auto;
    max-height: 100%;
}

.book-img {
    display: block;
    width: auto;
    margin: 10px auto;
    object-fit: contain;
    height: 100%;
}

.book-img-title {
    display: flex;
    flex-direction: column;
}

.book-img-title p {
    margin: 0 auto!important; 
    font-style: italic;
    text-align: center;
}

.flowing-p {
    max-height: min-content; 
    margin-top: 10px; 
    overflow: clip;
}

.flowing-p .book-img {
    float: left; 
    margin: 0 10px 0 10px; 
    object-fit: contain; 
    max-height: 150px;
    max-width: 50%;
}

.flowing-p p {
    margin-top: 0
}

.page.front:not(.cover)::before,
.page.back:not(.cover)::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 20px;
    pointer-events: none;
    z-index: 1000;
    filter: blur(2px);
}

.page.front:not(.cover)::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}

.page.back:not(.cover)::before {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}

.page.front:not(.cover)::after,
.page.back:not(.cover)::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 15px;
    pointer-events: none;
    z-index: 999;
    background: transparent;
}

.page-container:not(.first,.last) .page.front::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}

.page-container:not(.first,.last) .page.back::after {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}

.page p {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', serif;
    color: #222;
    text-shadow: 0.3px 0.3px 0 rgba(0, 0, 0, 0.77);
}

.page img {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #faf9f6;
    object-fit: contain;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {

    .book {
        transform: scale(0.5);
        transform-origin: top center;
        height: auto;
    }

    .book-img-container img {
        width: auto;
    }

    .book {
        width: 100vw;
        height: 50vh;
        transform: translateY(0px);
    }

    .page-container {
        width: 100vw;
        height: 50vh;
    }

    .book.opened {
        transform: translateY(25vh);
    }

    .book.opened.closed {
        transform: translateY(50vh);
    }

    .page-container {
        transform-origin: top;
        transform: rotateX(0deg);
        transition: transform 1s ease;
    }

    .page-container.flipped {
        transform: rotateX(180deg);
    }

    .page-container.flipped .page.front {
        z-index: 1;
    }

    .page-container.flipped .page.back {
        transform: rotateX(-180deg);
        z-index: 2;
    }

    .page.back {
        transform: rotateX(-180deg);
        z-index: 1;
    }

    .book .page img {
        max-width: 100% !important;
    }

    .page-container:not(.first, .last) .page {
        top: 0 !important;
        left: 10px !important;
        right: 10px !important;
        bottom: 10px !important;
        box-sizing: border-box !important;
    }

    .page-container.first {
        border-right: 10px solid var(--cover-color);
        border-bottom: 10px solid var(--cover-color);
        border-left: 10px solid var(--cover-color);
        border-top: none;
    }

    .page-container.last {
        border-right: 10px solid var(--cover-color);
        border-left: 10px solid var(--cover-color);
        border-bottom: 10px solid var(--cover-color);
        border-top: none;
    }

    .flowing-p .book-img {
        width: 40%!important;
        height: auto;
    }
}

.book-controls {
    position: fixed;
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 9999;
}

.book-controls-end {
    margin: 0 auto; position: absolute; right: 0
}

@media only screen and (max-width: 767px) and (orientation: portrait) {

    .book-controls .icon-button {
        background-color: #6c6b6b;
        border-radius: 30px;
        margin-bottom: 10px;
    }

    .book.opened .book-controls {
        opacity: 0.5;
        transform: translateY(-42vh);
    }

    .book.opened.closed .book-controls {
        opacity: 1;
        transform: translateY(-50vh);
    }
}

.icon-button {
    background: none;
    border: none;
    color: #ccc;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .icon-button:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }